<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e34397b2-486a-417d-bd5a-b9113a4a1b0c/resourcegroups/rgHuzaircap/providers/Microsoft.Web/sites/HotelBookingMicroServiceHuz</ResourceId>
    <ResourceGroup>rgHuzaircap</ResourceGroup>
    <ApiResourceId>/subscriptions/e34397b2-486a-417d-bd5a-b9113a4a1b0c/resourceGroups/rgHuzaircap/providers/Microsoft.ApiManagement/service/HotelBookingapi/apis/HotelBooking</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hotelbookingmicroservicehuz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d3ddd7eb-4498-46fd-9d9f-85b3ffe37941</ProjectGuid>
    <MSDeployServiceURL>hotelbookingmicroservicehuz.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HotelBookingMicroServiceHuz</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$HotelBookingMicroServiceHuz</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>